MC_HOST=ai_player.aternos.me
MC_PORT=15568
MC_VERSION=1.12.2
AI_COUNT=10
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=meta-llama/llama-3-8b-instruct:free
DEBUG_MODE=true
