MC_HOST=ai_player.aternos.me
MC_PORT=15568
MC_VERSION=1.12.2
AI_COUNT=10
OPENROUTER_API_KEY=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
OPENROUTER_MODEL=meta-llama/llama-3-8b-instruct:free
DEBUG_MODE=true
